*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img {
  // max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-radius: 0;
}

strong {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style-type: none;
}

article {
  display: block;
}