// .card-active-desc {
//   max-width: 310px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   background-color: $white-color;
//   transition-duration: 1s;
//   transition-property: all;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 999;
//   bottom: 0;

//   @media (max-width: $tablet-width) {
//     display: none;
//   }

//   @media (min-width: 1150px) {
//     max-width: 350px;
//   }
  
//   @media (min-width: 1330px) {
//     max-width: 400px;
//   }
// }

.card {
  display: none;
  
  @media (max-width: $tablet-width) {
    bottom: 0;
    transform: translateY(100%);
    transition: 0.5s;
  }
}

.card-active {
  // bottom: 0;
  display: flex;
  max-width: 310px;
  width: 100%;
  flex-direction: column;
  background-color: $white-color;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  
  @media (max-width: $tablet-width) {
    top: auto;
    position: fixed;
    left: 0;
    padding: 0 40px;
    padding-bottom: 23px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0 auto;
    max-width: 470px;
    width: 100%;
    transform: translateY(0);
    z-index: 999999;
  }

  @media (min-width: 1150px) {
    max-width: 350px;
  }

  @media (min-width: 1330px) {
    max-width: 400px;
  }
}


.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
}

.card__pict {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;

  @media (max-width: $tablet-width) {
    height: 414px;
    object-fit: cover;
  }
}

.card__title {
  font-size: 16px;
}

.card__vendor {
  color: $color-vendor-card;
  font-size: 16px;
}

.card__price  {
  white-space: nowrap;
  font-size: 16px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card__badges {
  position: absolute;
  top: 0;
  left: 0;
}

.card__image {
  position: relative;
}

// .cards {
//   @media (max-width: 900px) {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//   }

//   grid-column-start: 7;
//   grid-column-end: 10;
// }

.card__icons {
  display: none;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;

    .main-header__options-img {
      padding: 0;
      margin: 0 0 20px 0;
      border: none;
    }
  }
}

.card__image {
  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.card__close {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    right: -15px;
    top: -35px;
    color: $white-color;
    
  }
}