.card {
  display: none;
}

.card-active {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white-color;

  @media (max-width: 900px) {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100vh;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
}

.card__pict {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.card__title {
  font-size: 16px;
}

.card__vendor {
  color: $color-vendor-card;
  font-size: 16px;
}

.card__price  {
  font-size: 16px;
}

.card__button {
  background-color: $main-border-color;
  border: none;
  width: 210px;
  height: 40px;
  color: $white-color;
  font-size: 15px;
  transition: 0.2s;

  &:hover {
    background-color: $hover-button-color;
    border-radius: 20px;
  }
  
  @media (max-width: 900px) {
    width: 145px;
  }
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.card__badges-bests {
  width: 117px;
  height: 45px;
  background-color: $color-badges-bests;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__badges-new {
  width: 61px;
  height: 45px;
  background-color: $color-badges-new;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__badges {
  position: absolute;
  top: 0;
  left: 0;
}

.cards {
  @media (max-width: 900px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  grid-column-start: 7;
  grid-column-end: 10;
}

.card__icons {
  display: none;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;

    .main-header__options-img {
      padding: 0;
      margin: 0 0 20px 0;
      border: none;
    }
  }
}

.card__image {
  @media (max-width: 900px) {
    position: relative;
  }
}
