.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    flex-direction: column;
   }
}

.footer__up {
  &:hover {
    color: $hover-color;
  }
}

.footer {
  background-color: $footer-color;
  color: $white-color;
  font-size: 16px;
  padding: 40px;

  @media (max-width: $tablet-width) {
   padding: 20px 0 40px 0;
  }
}

.footer__mail  {
  max-width: 325px;

  @media (max-width: $tablet-width) {
    order: 2;
   }
}

.footer__up {
  @media (max-width: $tablet-width) {
    order: 1;
    margin-bottom: 50px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 40px 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 50px;
  }
}

.footer__social-logo {
  @media (max-width: $tablet-width) {
    order: 2;
    margin-top: 50px;
  }
}

.footer__nav-list {
  margin-left: 20px;
  width: 210px;
  font-size: 16px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    width: 100%;
  }

  li {
    margin-bottom: 8px;
    transition: 0.2s;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  .footer__nav-item--company {
    margin-bottom: 18px;
  
    @media (max-width: $tablet-width) {
      display: block;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-bottom-footer;
      width: 100%;
      position: relative;

      &::after {
        content: '↑';
        transform: rotate(180deg);
        position: absolute;
        right: 3px;
      }
    }

    &:hover {
      color: $white-color;
    }
  }

  .footer__nav-item--products {
    margin-bottom: 18px;
  
    @media (max-width: $tablet-width) {
      display: block;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-bottom-footer;
      width: 100%;
      position: relative;

      &::after {
        content: '↑';
        transform: rotate(180deg);
        position: absolute;
        right: 3px;
      }
    }

    &:hover {
      color: $white-color;
    }
  }

  
  .footer__nav-item--store {
    margin-bottom: 18px;
  
    @media (max-width: $tablet-width) {
      display: block;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-bottom-footer;
      width: 100%;
      position: relative;

      &::after {
        content: '↑';
        transform: rotate(180deg);
        position: absolute;
        right: 3px;
      }
    }

    &:hover {
      color: $white-color;
    }
  }
}

.footer__nav-item {
  margin-bottom: 8px;
  transition: 0.2s;

  @media (max-width: $tablet-width) {
    display: none;
  }
  
  &:hover {
    color: $hover-color;
  }
  
  &--block {
    @media (max-width: $tablet-width) {
      display: block;
      margin-bottom: 18px;
    }
  }

}

.footer__social-icon {
  height: 25px;
  padding-left: 20px;
  transition: 0.2s;

  &:hover {
    color: $hover-color;
  }

  &:not(:last-child) {
    border-right: 1px solid $border-bottom-footer;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__social-list {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    order: 1;  
  }
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 24px;
  border-top: 1px solid $white-color;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 0;
    margin-top: 7px;
  }
}

.footer__bottom-privacy {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.footer__bottom  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__bottom-privacy-link {
  margin-left: 20px;
  transition: 0.2s;

  @media (max-width: $tablet-width) {
    margin-left: 10px;
   }
}

.footer__mail-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  padding-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  color: $white-color;
 
  &::placeholder {
    color: $white-color;
  }
}

.footer__mail-input-warn {
  border-color: $main-border-color;
  color: $main-border-color;
}

.footer__feedback {
  position: relative;
}

.hidden {
  @media (max-width: 900px) {
    display: none;
  }
}

.footer__feedback-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 14px;
  width: 33px;
  cursor: pointer;
  height:  25px;
  z-index: 8;
  background-color: transparent;
  color: $white-color;
  border: none;
  padding: 0;
}

.show {
  display: block;
}
