.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px 11px 9px 16px;
  border-radius: 5px;
}

.language__hidden {
  display: none;
}

.language:hover {
  background-color: #F6F4F4;

  .language__hidden {
    display: flex;
    flex-direction: column;
  }

  .language__ru {
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .language__en {
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .language__tr {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.language__ru {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .language__name {
    padding-right: 6px;
  }
} 
