.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  padding: 5px 20px 8px 20px;
  transition: 0.5s;
  position: absolute;
  top: 0;
  
  &:hover {

      &::after {
        content: "";
        background-color: $language-back;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        border-radius: 10px;
        left: 0;
        top: -5px;
    }
  }
}

.wrap-lang {
  position: relative;
}

.language__hidden {
  display: none;
}

.language:hover {
  .language__hidden {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }

  .language__ru {
    border-bottom: 1px solid $border-color;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
  }

  .language__svg {
    transform: rotate(180deg);
    margin-bottom: 5px;
  }
  .language__en {
    padding: 0 0 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .language__tr {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    // padding-bottom: 10px;
  }
}

.language__ru {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .language__name {
    padding: 0 6px 0 0;
  }
} 
