.main-header {
  font-size: 16px;
  margin: 20px 0;
  // display: none;
}

.main-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    order: 3;
  }
}

.main-header__options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__options-item {
  display: flex;
  align-items: center;
  max-height: 25px;
  padding-left: 20px;

  &:not(:last-child) {
    padding: 0 20px;
    border-right: 1px solid $border-color;

    @media (max-width: 900px) {
      padding: 0 15px;
    }
  }

  &--hidden {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
      padding-left: 10px;
    }
  
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.main-header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__bottom {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    order: 1;
    margin: 0;
  }
}

.main-header__nav-item {
  margin-right: 25px;

  &--hover {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      padding: 0 5px;
    }
  }
}

.main-header__search {
  display: flex;
  flex-direction: row;

  &--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--where {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.main-header__search-item {
  padding: 0 20px 0 10px;
  border-right: 1px solid $border-color;
  margin-right: 20px;

  &--map {
    padding-left: 10px;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__shell {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__burger {
  display: none;

  @media (max-width: 900px) {
    display: block;
    border-right: 1px solid $border-color;
    padding-right: 15px;
    margin-right: 15px;
  }
}

.main-header__logo {
  display: none;

  @media (max-width: 900px) {
    display: block;
    width: 84px;
    height: 25px;
    order: 2;
  }
}

.logo {
  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__nav-item--hover:hover.santeh-list {
  display: block;
}