.main-header {
  font-size: 16px;
  padding: 20px 0 0 0;

  @media (max-width: 900px) {
    padding: 20px 0;
  }

}

.main-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    order: 3;
  }
}

.main-header__options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__options-item {
  display: flex;
  align-items: center;
  max-height: 25px;
  transition: 0.2s;
  
  &:not(:last-child) {
    padding: 0 20px;
    border-right: 1px solid $border-color;

    @media (max-width: 900px) {
      padding: 0;
      border: none;
    }
  }
  
  
  &--hidden {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    p {
      padding-left: 10px;
    }
    
    @media (max-width: 900px) {
      display: none;
    }
  }

  &:hover:not(:last-child) {
    color: $hover-color;

    .main-header__icon-town {
      color: $hover-color;  
    }
  }
}

.main-header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__bottom {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    order: 1;
    margin: 0;
  }
}

.main-header__nav-item {
  margin-right: 25px;

  &--hover {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      padding: 0 5px;
    }
  }
}

.main-header__search {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  @media (max-width: 900px) {
    padding-bottom: 0;
  }

  &--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid $border-color;
    transition: 0.3s;

    @media (max-width: 900px) {
      border-right: none;
      margin-right: 0;
    padding-right: 0;
    }
  }

  &--where {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &:hover {
      color: $hover-color;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.main-header__search-btn {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    padding-left: 10px;

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.main-header__search-text {
  border: none;
  outline: none;
  float: left;
  background-color: transparent;
  width: 0px;
  transition: 0.5s;
  cursor: pointer;
}

// .main-header__search--icon:active > .main-header__search-text {
//   // width: 200px;
//   background-color: $search-back;
// }

// .main-header__search--icon:active > .main-header__search-btn p {
//   display: none;
// }

// .main-header__search--icon:active {
//   background-color: $search-back;
//   border-radius: 40px;
//   padding: 0 10px;
// }

.search-active {
  background-color: $search-back;
  border-radius: 40px;
  padding: 0 10px;

  .main-header__search-text {
    width: 200px;
    background-color: $search-back;
  }

  .main-header__search-placehold {
    display: none;
  }
}

.main-header__search-item {
  padding: 0 20px 0 10px;
  border-right: 1px solid $border-color;
  margin-right: 20px;

  &--map {
    padding-left: 10px;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__shell {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__burger {
  display: none;

  @media (max-width: 900px) {
    display: block;
    border-right: 1px solid $border-color;
    padding-right: 15px;
    margin-right: 15px;
    transition: 0.6s;
  }
}

.main-header__logo {
  display: none;

  @media (max-width: 900px) {
    display: block;
    width: 84px;
    height: 25px;
    order: 2;
  }
}

.logo {
  @media (max-width: 900px) {
    display: none;
  }
}

.main-header__options-img {
  @media (max-width: 900px) {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid $border-color;
  }
}

.main-header__burger-close {
  display: none;
  border-right: 1px solid $border-color;
  padding-right: 15px;
  margin-right: 15px;
  transition: 0.6s;
}

.main-header__nav-item {
  padding-bottom: 20px;
  transition: 0.2s;
  height: 42px;
}

.main-header__nav-item:hover {
  border-bottom: 5px solid $main-border-color;
}

.main-header__options-item--star {
  position: relative;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.main-header__options-item--arr {
  position: relative;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
