.santeh-list {
  background-color: #ffffff;
  border-top: 1px solid #D9D9D9;
  display: none;
}

.santeh-list__shell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.santeh-list__prewiev-pict  {
  padding-top: 20px;
  width: 100%;
}

.santeh-list__prewiev-img {
  width: 100%;
}

.santeh-list__nav  {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.santeh-list__nav-common {
  padding-left: 20px;
  border-left: 1px solid #000000;

  li {
    padding-bottom: 8px;

    &:hover {
      color: #B49F8C;
    }
  }
}

.santeh-list__nav-santeh {
  li {
    padding-bottom: 8px;

    &:hover {
      color: #B49F8C;
    }
  }
}

.santeh-list__nav-santeh-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 225px;
  align-items: baseline;
}
