.swiper-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 5px solid $main-border-color;
  position: relative;
  overflow: hidden;

  .swiper-pagination {
    width: 128px;
  }
}

.swiper-container-card {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

// #swiperPrev {
//   width: 20px;
//   height: 20px;
//   background-color: transparent;
//   border-radius: 50%;
//   border: #000000;
// }

.swiper-navigation {
  position: absolute;
  right: -10px;
  width: 105px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
}

.swipe {
  position: relative;
}

.collection__top {
  
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: $black-color;
    border-radius: 50%;

    &::after {
      height: 40px;
      font-size: 0;
    }

    &:hover {
      color: $white-color;
      background-color: $main-border-color;
    }
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    color: $black-color;
    border-radius: 50%;

    &::after {
      height: 40px;
      font-size: 0;
    }

    &:hover {
      color: $white-color;
      background-color: $main-border-color;
    }
  }
}

.swiper-slide {
  background-color: $white-color;
  height: calc(100vh - 210px);
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
}

.swiper-slide__main  {
  display: flex;
  flex-direction: row;
}

.swiper-slide__main-santeh-content, .swiper-slide__main-tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.swiper-slide__main-santeh, 
.swiper-slide__main-tile {
  position: relative;
  height: 100%;
  flex-shrink: 0;

  p {
    position: absolute;
    color: $white-color;
    font-size: 70px;
    top: 40px;
    left: 40px;

    @media (max-width: 900px) {
      font-size: 40px;
    }
  }

  span {
    position: absolute;
    font-size: 25px;
    color: $white-color;
    left: 40px;
    bottom: 40px;
  }

  img {
    // position: relative;
    width: 100%;
  }
}

.swiper-pagination-bullets {
 
  right: 40px;

  .swiper-pagination-fraction {
    width: 128px;
  }

  .swiper-pagination-bullet {
    background: $white-color;
    width: 3px;
    height: 3px;
    opacity: 1;
    margin: 0 20px 0 0;
  }

  .swiper-pagination-bullet-active {
    width: 36px;
    height: 3px;
    border-radius: 5px;
  }
}

.swiper-slide__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: $white-color;
  p {
    font-size: 85px;
    position: absolute;
    top: 40px;
    left: 40px;
  
    @media (max-width: 900px) {
      font-size: 40px;
    }
  }

  span {
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.swiper-slide__main-santeh {
  cursor: pointer;
}

.swiper-slide__main-santeh:hover,
.swiper-slide__main-tile:hover {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white-color;
    opacity: 0.2;
    z-index: 88;
  }
}

.swiper-container {

  .swiper-button-next {
    width: 10%;
    height: calc(100vh - 210px);
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    opacity: 0;
  }
}

.swiper-wrapper-card {
  display: flex;
  flex-direction: row;
}

.swiper-button-next-card {
  width: 20px;
  height: 200px;
  background-color: aqua;
  color: #000000;
  opacity: 1;
}