.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }

  @media (min-width: 1700px) {
    max-width: 1500px;
    padding: 0;
  }
}
