footer.footer
  .wrapper 
    .footer__top
      .footer__mail 
        p Мы собираем самые интересные материалы в рассылку по вторникам
        input(type="email" placeholder="Электронная почта").footer__mail-input
      .footer__up 
        a(href="#") Наверх  ↑
    .footer__nav 
      ul.footer__nav-list
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Идеи и вдохновение
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Новости
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Каталоги
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Где купить
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Сервисы
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Дистрибьютерам
        li.footer__nav-item.footer__nav-item--block
          a(href="#") FAQ
      ul.footer__nav-list
        li.footer__nav-item.footer__nav-item--title О компании
          span.hidden  -
        li.footer__nav-item  
          a(href="#") История Vitra
        li.footer__nav-item  
          a(href="#") Дизайн
        li.footer__nav-item 
          a(href="#") Инновации
        li.footer__nav-item
          a(href="#") Экологичность
        li.footer__nav-item
          a(href="#") Корпоративная<br>ответственность
        li.footer__nav-item
          a(href="#") Vitra и архитекторы
        li.footer__nav-item
          a(href="#") Контакты
      ul.footer__nav-list
        li.footer__nav-item.footer__nav-item--title Все продукты
          span.hidden  -
        li.footer__nav-item
          a(href="#") Сантехника для ванной
        li.footer__nav-item
          a(href="#") Плитка
        li.footer__nav-item
          a(href="#") Смесители
        li.footer__nav-item
          a(href="#") Инсталяции
        li.footer__nav-item
          a(href="#") Душевые системы
        li.footer__nav-item
          a(href="#") Аксессуары
        li.footer__nav-item
          a(href="#") Мебель для ванной
        li.footer__nav-item
          a(href="#") Ванны
      ul.footer__nav-list
        li.footer__nav-item.footer__nav-item--title Шоурумы 
          span.hidden  -
        li.footer__nav-item
          a(href="#") Диджитал шоурум<br>сантехники
        li.footer__nav-item
          a(href="#") Диджитал шоурум плитки
        li.footer__nav-item
          a(href="#") Шоурум плитки
    .footer__social 
      img(src="img/icons/icon-footer-img.svg", alt="").footer__social-logo
      .footer__social-list 
        img(src="img/icons/icon-insta.svg", alt="").footer__social-icon
        img(src="img/icons/icon-facebook.svg", alt="").footer__social-icon
        img(src="img/icons/icon-vk.svg", alt="").footer__social-icon
        img(src="img/icons/icon-youtube.svg", alt="").footer__social-icon
    .footer__bottom 
      .footer__bottom-privacy
        p Vitra 2021
        a(href="#").footer__bottom-privacy-link Политика конфиденциальности
      p Made by ONY



