footer.footer
  .wrapper 
    .footer__top
      .footer__mail 
        p Мы собираем самые интересные материалы в рассылку по вторникам
        .footer__feedback
          form
            input(type="email" placeholder="Электронная почта").footer__mail-input
            button.footer__feedback-btn
              svg(width='13' height='13')
                use(xlink:href="img/sprite.svg#arrow-right")
      .footer__up 
        a(href="#") 
          | Наверх  
          svg(width='13' height='13')
              use(xlink:href="img/sprite.svg#arrow-right")
    .footer__nav 
      ul.footer__nav-list
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Идеи и вдохновение
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Новости
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Каталоги
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Где купить
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Сервисы
        li.footer__nav-item.footer__nav-item--block
          a(href="#") Дистрибьютерам
        li.footer__nav-item.footer__nav-item--block
          a(href="#") FAQ
      ul.footer__nav-list
        li.footer__nav-item--company О компании
          span.hidden  -
        li.footer__nav-company
          a(href="#") История Vitra
        li.footer__nav-company
          a(href="#") Дизайн
        li.footer__nav-company
          a(href="#") Инновации
        li.footer__nav-company
          a(href="#") Экологичность
        li.footer__nav-company
          a(href="#") Корпоративная<br>ответственность
        li.footer__nav-company
          a(href="#") Vitra и архитекторы
        li.footer__nav-company
          a(href="#") Контакты
      ul.footer__nav-list
        li.footer__nav-item--products Все продукты
          span.hidden  -
        li.footer__nav-products
          a(href="#") Сантехника для ванной
        li.footer__nav-products
          a(href="#") Плитка
        li.footer__nav-products
          a(href="#") Смесители
        li.footer__nav-products
          a(href="#") Инсталяции
        li.footer__nav-products
          a(href="#") Душевые системы
        li.footer__nav-products
          a(href="#") Аксессуары
        li.footer__nav-products
          a(href="#") Мебель для ванной
        li.footer__nav-products
          a(href="#") Ванны
      ul.footer__nav-list
        li.footer__nav-item--store Шоурумы 
          span.hidden  -
        li.footer__nav-store
          a(href="#") Диджитал шоурум<br>сантехники
        li.footer__nav-store
          a(href="#") Диджитал шоурум плитки
        li.footer__nav-store
          a(href="#") Шоурум плитки
    .footer__social 
      img(src='img/icon-footer-img.png' width='124' height='35').footer__social-logo
      .footer__social-list
        a(href='#').footer__social-icon
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-insta")
        a(href='#').footer__social-icon 
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-facebook")
        a(href='#').footer__social-icon 
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-vk")
        a(href='#').footer__social-icon 
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-youtube")
    .footer__bottom 
      .footer__bottom-privacy
        p Vitra 2021
        a(href="#").footer__bottom-privacy-link Политика конфиденциальности
      p.footer__made-by Made by ONY
script(src="https://cdn.jsdelivr.net/npm/yup")
script(src='js/validator.js')
