header.main-header
  .wrapper
    .main-header__top
      .logo 
        img(src="img/icons/icon-logo.svg" wigth="135" height="40") 
      ul.main-header__options
        li.main-header__options-item Москва
        li.main-header__options-item Сервисы
        li.main-header__options-item 
          img(src="img/icons/icon-star.svg" wigth="25" height="25") 
        li.main-header__options-item
          img(src="img/icons/icon-compare.svg" wigth="25" height="25") 
        li.main-header__options-item RU
    nav.main-header__bottom
      ul.main-header__nav 
        li.main-header__nav-item Сантехника
        li.main-header__nav-item Плитка
        li.main-header__nav-item Коллекции
        li.main-header__nav-item Идеи
        li.main-header__nav-item О компании
      .main-header__search 
        p.main-header__search-item Поиск
        p.main-header__search-item Где купить
