header.main-header
  .wrapper
    .main-header__shell
      .main-header__top
        .logo
          a(href='index.html') 
            svg(width='135' height='45')
              use(xlink:href="img/sprite.svg#icon-logo")
        ul.main-header__options
          li.main-header__options-item
            a(href="#").main-header__options-item--hidden 
              .icon-town
                svg(width='15' height='13').main-header__icon-town
                  use(xlink:href="img/sprite.svg#icon-where")
              .txt__town
                p Москва
          li.main-header__options-item.main-header__options-item--hidden
            a(href="#") Сервисы
          li.main-header__options-item.main-header__options-item--star
            a(href="#")
            .main-header__options-img
              svg(width='25' height='25')
                use(xlink:href="img/sprite.svg#icon-star")
          li.main-header__options-item.main-header__options-item--arr
            a(href="#")
            svg(width='25' height='25')
              use(xlink:href="img/sprite.svg#icon-compare")
          li.main-header__options-item.main-header__options-item--hidden
            .language
              button.language__ru
                p.language__name RU
                svg(width='10' height='8')
                  use(xlink:href="img/sprite.svg#icon-clip")
              .language__hidden
                button.language__en EN
                button.language__tr TR
      svg(width='135' height='40').main-header__logo
        use(xlink:href="img/sprite.svg#icon-logo")
      nav.main-header__bottom
        .main-header__burger
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-burger")
        .main-header__burger-close
          svg(width='25' height='25')
            use(xlink:href="img/sprite.svg#icon-close")
        ul.main-header__nav 
          li.main-header__nav-item
            a(href="#").main-header__nav-item--hover
              svg(width='20' height='25')
                use(xlink:href="img/sprite.svg#icon-santeh") 
              p Сантехника
              svg(width='10' height='8')
                use(xlink:href="img/sprite.svg#icon-clip")
          li.main-header__nav-item 
             a(href="#").main-header__nav-item--hover
              svg(width='20' height='25')
                use(xlink:href="img/sprite.svg#icon-tile")
              p Плитка
              svg(width='10' height='8')
                use(xlink:href="img/sprite.svg#icon-clip")
          li.main-header__nav-item
            a(href="#") Коллекции
          li.main-header__nav-item
            a(href="#") Идеи
          li.main-header__nav-item
            a(href="#") О компании
        .main-header__search
          .main-header__search--icon
            input(type="text").main-header__search-text
            a(href='#').main-header__search-btn 
              svg(width='16' height='16')
                use(xlink:href="img/sprite.svg#icon-search")
              p Поиск
          a(href='#').main-header__search--where
            svg(width='15' height='16')
              use(xlink:href="img/sprite.svg#icon-map")
            p.main-header__search-item--map Где купить
    include menu.pug
    script(src='js/burger.js')
    script(src='js/nav-hover.js')
    script(src='js/nav-hover-prewiev.js')
