header.main-header
  .wrapper
    .main-header__shell
      .main-header__top
        .logo
          a(href='index.html') 
            img(src="img/icons/icon-logo.svg" wigth="135" height="40")
        ul.main-header__options
          li.main-header__options-item
            a(href="#").main-header__options-item--hidden 
              img(src="img/icons/icon-where.svg" wigth="12" height="13") 
              p Москва
          li.main-header__options-item.main-header__options-item--hidden 
            a(href="#") Сервисы
          li.main-header__options-item.main-header__options-item--star
            a(href="#")
              img(src="img/icons/icon-star.svg" wigth="25" height="25").main-header__options-img
          li.main-header__options-item.main-header__options-item--arr
            a(href="#")
              img(src="img/icons/icon-compare.svg" wigth="25" height="25")
          li.main-header__options-item.main-header__options-item--hidden
            .language
              button.language__ru
                p.language__name RU
                img(src="img/icons/icon-clip.svg" wigth="8" height="5")
              .language__hidden
                button.language__en EN
                button.language__tr TR
      img(src="img/icons/icon-logo.svg" wigth="135" height="40").main-header__logo
      nav.main-header__bottom
        img(src="img/icons/icon-burger.svg" wigth="25" height="25").main-header__burger
        img(src="img/icons/icon-close.svg" wigth="25" height="25").main-header__burger-close
        ul.main-header__nav 
          li.main-header__nav-item
            a(href="#").main-header__nav-item--hover
              img(src="img/icons/icon-santeh.svg" wigth="20" height="25") 
              p Сантехника
              img(src="img/icons/icon-clip.svg" wigth="8" height="5") 
          li.main-header__nav-item 
             a(href="#").main-header__nav-item--hover
              img(src="img/icons/icon-tile.svg" wigth="20" height="25") 
              p Плитка
              img(src="img/icons/icon-clip.svg" wigth="8" height="5") 
          li.main-header__nav-item 
            a(href="#") Коллекции
          li.main-header__nav-item 
            a(href="#") Идеи
          li.main-header__nav-item 
            a(href="#") О компании
        .main-header__search
          .main-header__search--icon
            img(src="img/icons/icon-search.svg" wigth="16" height="16")
            p.main-header__search-item Поиск
          .main-header__search--where
            img(src="img/icons/icon-map.svg" wigth="11" height="16")
            p.main-header__search-item--map Где купить
    include menu.pug
    script(src='js/burger.js')
    script(src='js/nav-hover.js')
    script(src='js/nav-hover-prewiev.js')
