doctype html
html(lang="ru").html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.ico")
    link(rel="icon" href="img/favicons/icon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="img/favicons/apple.png")
    link(rel="manifest" href="manifest.webmanifest")
    link(href="./css/style.css" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    title Vitra
  body 
    include _header.pug
    include santeh-hov.pug
    include santeh-mobile.pug

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .swiper-slide__main
            .swiper-slide__main-santeh
              img(src="img/photo-main-san.jpg", alt="")
              .swiper-slide__main-santeh-content
                p Сантехника
                span Встречайте новое<br>поступление сантехники<br>из натурального камня →
            .swiper-slide__main-tile 
              img(src="img/photo-main-tile.jpg", alt="")
              .swiper-slide__main-tile-content
                p Плитка
                span Оцените возможности<br> керамогранита с новой<br>серией MIX 2020 →
        .swiper-slide
           img(src="img/photo1.jpg", alt="")
           .swiper-slide__content
              p VitrA Tiles at Cersaie Exhibition 
              span Встречайте новое поступление<br>плитки и сантехники →
        .swiper-slide
           img(src="img/photo2.jpg", alt="")
           .swiper-slide__content
              p VitrA Tiles at Cersaie Exhibition 
              span Встречайте новое поступление<br>плитки и сантехники →
        .swiper-slide
           img(src="img/photo1.jpg", alt="")
           .swiper-slide__content
              p VitrA Tiles at Cersaie Exhibition 
              span Встречайте новое поступление<br>плитки и сантехники →
        .swiper-slide
           img(src="img/photo2.jpg", alt="")
           .swiper-slide__content
              p VitrA Tiles at Cersaie Exhibition 
              span Встречайте новое поступление<br>плитки и сантехники →
      .swiper-pagination
      .swiper-button-next
    section.section.collection
      .wrapper
        .collection__top
          .collection__txt
            h2.section__title Коллекции
            ul.collection__nav
              li.collection__nav-item
                a(href='#') Коллекции сантехники →
              li.collection__nav-item
                a(href='#') Коллекции плитки →
          .swiper-navigation
            .swiper-button-next-card(id = 'swiperNext')
              svg(width='40' height='40').collection__btn-icon
                use(xlink:href="img/sprite.svg#icon-arr-button")
            .swiper-button-prev-card(id = 'swiperPrev')
              svg(width='40' height='40').collection__btn-icon
                use(xlink:href="img/sprite.svg#icon-arr-button")
        .swiper-container-card
          .swiper-wrapper
            .swiper-slide
              .collection__images
                .coll
                  .collection__images-shell
                    picture
                      source(media="(max-width: 980px)" srcset="img/photo-collect-mobile.jpg")
                      img(src="img/photo-collection.jpg", alt="").collection__photo
                    .collection__btn-plus
                      button(data-name="зеркало" style='left: 10%; bottom: 26%; position: absolute').collection__btn-plus-black 
                      button(data-name="плитка" style='left: 45%; top: 37%; position: absolute').collection__btn-plus-black 
                      button(data-name="ручка" style='right: 18%; bottom: 20%; position: absolute').collection__btn-plus-black 
                      button(data-name="подставка" style='left: 29%; bottom: 36%; position: absolute').collection__btn-plus-black.black-active
                .cards
                  include _mixins.pug
                  +card('зеркало', 'img/photo-card2.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('плитка', 'img/photo-card3.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('ручка', 'img/photo-card.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('подставка', 'img/photo-card3.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
            .swiper-slide
              .collection__images
                .coll
                  .collection__images-shell
                    picture
                      source(media="(max-width: 980px)" srcset="img/photo-collect-mobile.jpg")
                      img(src="img/photo-collection2.jpg", alt="").collection__photo
                    .collection__btn-plus
                      button(data-name="туалет" style='left: 80%; bottom: 60%; position: absolute').collection__btn-plus-black 
                      button(data-name="шкаф" style='left: 41%; top: 37%; position: absolute').collection__btn-plus-black 
                      button(data-name="ванна" style='right: 30%; bottom: 20%; position: absolute').collection__btn-plus-black 
                      button(data-name="раковина" style='left: 29%; bottom: 30%; position: absolute').collection__btn-plus-black.black-active
                .cards
                  include _mixins.pug
                  +card('туалет', 'img/photo-card2.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('шкаф', 'img/photo-card3.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('ванна', 'img/photo-card.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
                  +card('раковина', 'img/photo-card3.jpg', 'Бестселлер', 'New', 'Liquid Toilet Brush Holder', 'Арт. 7670B003-7211', '2 540 Р.')
         
    section.section.ideas
      .wrapper
        h2.section__title  Идеи
        .ideas__nav-bottom
          ul.ideas__nav 
            li.ideas__nav-item  
              a(href="#") Решения для ванной
            li.ideas__nav-item  
              a(href="#") Дизайн туалета
            li.ideas__nav-item  
              a(href="#") Твой стиль
            li.ideas__nav-item 
              a(href="#") Дизайн ванной
            li.ideas__nav-item 
              a(href="#") Экономия воды
          a(href="#").ideas__all Все идеи →
        .ideas__gallery 
          .ideas__card.ideas__card--row 
            .ideas__pict
              picture 
                source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile.jpg")
                img(src="img/ideas-photo1.jpg").ideas__img
            .ideas__card-desc.ideas__card-desc--row
              p.ideas__card-desc-txt Решения для хранения
              p Максимальное пространство для хранения без ущерба для внешнего вида комнаты
          .ideas__row
            .ideas__card.ideas__card--width
              .ideas__card-picture
                .ideas__pict
                  picture 
                    source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile2.jpg")
                    img(src="img/ideas-photo2.jpg").ideas__img.ideas__img--width
              .ideas__card-desc.ideas__card-desc--width
                p.ideas__card-desc-txt Дизайн туалета
                p Соображения по поводу дизайна ключевой части образа вашей ванной комнаты!
            .ideas__card
              .ideas__card-picture
                .ideas__pict
                  picture 
                    source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile3.jpg")
                    img(src="img/ideas-photo3.jpg").ideas__img
              .ideas__card-desc
                p.ideas__card-desc-txt Экономим воду
                p Как сэкономить воду без <br> ущерба для стиля
    include _footer.pug
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/yup")
    script(src='js/menu-sateh-mob.js')
    script(src='js/search.js')
    script(src='js/cards.js')
    script(src='js/swiper-collection.js')
    script(src='js/script.js')
    script(src='js/nav-hover.js')
    script(src='js/nav-hover-prewiev.js')
    script(src='js/footer-menu.js')
    script(src='js/validator.js')
