doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/style.css" rel="stylesheet")
    title Vitra
  body 
    include _header.pug

    .slider 
      img(src="img/photo1.jpg", alt="").slider__img
      img(src="img/photo2.jpg", alt="")
      .slider__content
        .wrapper
          h1.slider__title VitrA Tiles<br> at Cersaie Exhibition 
          p.slider__slogan Встречайте новое поступление<br> плитки и сантехники →
    .collection 
      .wrapper
        h2.collection__title Коллекции
        nav
          ul.collection__nav
            li.collection__nav-item Коллекции сантехники →
            li.collection__nav-item Коллекции плитки →
          img(src="img/icons/icon-arr-slide.svg", alt="")
          img(src="img/icons/icon-arr-slide.svg", alt="")
        img(src="img/photo-collection.jpg", alt="") 