doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/style.css" rel="stylesheet")
    title Vitra
  body 
    include _header.pug
    include santeh-hov.pug
    .slider 
      picture
        source(media="(max-width: 980px)" srcset="img/photo-mobile1.jpg")
        img(src="img/photo1.jpg", alt="").slider__img
      img(src="img/photo2.jpg", alt="").slider__img2
      .slider__content
        h1.slider__title VitrA Tiles<br> at Cersaie Exhibition 
        p.slider__slogan Встречайте новое поступление<br> плитки и сантехники →
    .collection 
      .wrapper
        .collection__top
          .collection__txt
            h2.collection__title Коллекции
            ul.collection__nav
              li.collection__nav-item Коллекции сантехники →
              li.collection__nav-item Коллекции плитки →
          .collection__arr
            a(href="#")
              img(src="img/icons/icon-arr-slide.svg", alt="")
            a(href="#")
              img(src="img/icons/icon-arr-slide.svg", alt="").collection__arr-img
        .collection__images
          picture.collection__photo 
            source(media="(max-width: 980px)" srcset="img/photo-collect-mobile.jpg")
            img(src="img/photo-collection.jpg", alt="").collection__photo
          article.card
            .card__image
              img(src="img/photo-card.jpg" width="440" height="440").card__pict
              .card__badges 
                .card__badges-bests Бестселлер
                .card__badges-new New
            .card__content
              .card__desc
                h3.card__title Liquid Toilet Brush Holder
                span.card__vendor Арт. 7670B003-7211
                .card__bottom
                  p.card__price 2 540 Р.
                  button.card__button Купить 
    .ideas 
      .wrapper
        h2.ideas__title Идеи
        .ideas__nav-bottom
          ul.ideas__nav 
            li.ideas__nav-item  Решения для ванной
            li.ideas__nav-item  Дизайн туалета
            li.ideas__nav-item  Твой стиль
            li.ideas__nav-item Дизайн ванной
            li.ideas__nav-item Экономия воды
          a(href="#").ideas__all Все идеи →
        .ideas__gallery 
          .ideas__card.ideas__card--row 
            picture 
              source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile.jpg")
              img(src="img/ideas-photo1.jpg").ideas__img
            .ideas__card-desc.ideas__card-desc--row
              p.ideas__card-desc-txt Решения для хранения
              p Максимальное пространство для хранения без ущерба для внешнего вида комнаты
          .ideas__row
            .ideas__card.ideas__card--width
              .ideas__card-picture
                picture 
                  source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile2.jpg")
                  img(src="img/ideas-photo2.jpg").ideas__img.ideas__img--width
              .ideas__card-desc.ideas__card-desc--width
                p.ideas__card-desc-txt Дизайн туалета
                p Соображения по поводу дизайна ключевой части образа вашей ванной комнаты!
            .ideas__card
              .ideas__card-picture
                picture 
                  source(media="(max-width: 980px)" srcset="img/ideas-photo-mobile3.jpg")
                  img(src="img/ideas-photo3.jpg").ideas__img
              .ideas__card-desc
                p.ideas__card-desc-txt Экономим воду
                p Как сэкономить воду без <br> ущерба для стиля
    include _footer.pug
