.menu
  .menu__shell
    .menu__top
      .menu__santeh 
        a(href="#").menu__santeh-link
        .menu__santeh-img
          img(src="img/santeh.jpg" alt="").menu__picture
        p.menu__name Сантехника
      .menu__tile 
        a(href="#").menu__tile-link
        .menu__tile-img
          img(src="img/tile-mobile.jpg" alt="").menu__picture
        p.menu__name Плитка
    .menu__nav 
      ul.menu__nav-list
        li.menu__nav-item
          a(href="#") Коллекции
        li.menu__nav-item
          a(href="#") Идеи и вдохновение
        li.menu__nav-item
          a(href="#") О компании
        li.menu__nav-item
          a(href="#") Где купить
        li.menu__nav-item
          a(href="#") Сервисы
    .menu__bottom 
      .menu__lang 
        p.menu__lang-name Russia 
        //- img(src="img/tile-mobile.jpg" alt="")
    