.santeh-list 
  .wrapper
    .santeh-list__shell
      .santeh-list__nav 
        ul.santeh-list__nav-santeh
          li
            a(href="#").santeh-list__nav-santeh-link
              img(src="img/icons/icon-hover-arr.svg" alt="")
              p Сантехника для ванной 
          li 
            a(href="#") Мебель для ванной
          li 
            a(href="#") Смесители
          li 
            a(href="#") Инсталляции
          li 
            a(href="#") Ванны
          li 
            a(href="#") Душевые системы
          li 
            a(href="#") Аксессуары
        ul.santeh-list__nav-common 
          li 
            a(href="#") Все товары
          li 
            a(href="#") Унитазы
          li 
            a(href="#") Раковины
          li 
            a(href="#") Писсуары
          li 
            a(href="#") Биде
          li 
            a(href="#") Комплектующие
          li 
            a(href="#") Пьедесталы
      .santeh-list__prewiev
        .santeh-list__prewiev-pict 
          img(src="img/hover.jpg" alt="").santeh-list__prewiev-img