.santeh-list 
  .wrapper
    .santeh-list__shell
      .santeh-list__nav 
        ul.santeh-list__nav-santeh
          li
            a(href="#").santeh-list__nav-santeh-link
              img(src="img/icons/icon-hover-arr.svg" alt="")
              p Сантехника для ванной 
          li 
            a(href="#") Мебель для ванной
          li 
            a(href="#") Смесители
          li
            a(href="#") Инсталляции
          li 
            a(href="#") Ванны
          li 
            a(href="#") Душевые системы
          li 
            a(href="#") Аксессуары
        ul.santeh-list__nav-common 
          li Все товары
          li(data-name='унитазы') Унитазы
          li(data-name='раковины') Раковины
          li(data-name='писсуары') Писсуары
          li(data-name='биде') Биде
          li(data-name='комплектующие') Комплектующие
          li(data-name='пьедесталы') Пьедесталы
      .santeh-list__prewiev
        .santeh-list__prewiev-pict( data-name='унитазы')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict( data-name='раковины')
          img(src="img/photo1.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict( data-name='писсуары')
          img(src="img/photo-main-san.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict( data-name='биде')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict( data-name='комплектующие')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict( data-name='пьедесталы')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
