.santeh-list 
  .wrapper
    .santeh-list__shell
      .santeh-list__nav 
        ul.santeh-list__nav-santeh
          li(data-name='сантехника').santeh-list__nav-santeh-link.styled
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Сантехника для ванной 
          li(data-name='мебель').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Мебель для ванной
          li(data-name='смесители').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Смесители
          li(data-name='инсталяции').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Инсталляции 
          li(data-name='ванны').santeh-list__nav-santeh-link
              svg(width='15' height='11').santeh-list__svg
                use(xlink:href="img/sprite.svg#icon-hover-arr")
              | Ванны
          li(data-name='душевые').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Душевые системы
          li(data-name='аксессуары').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Аксессуары
        .prewiev-categor
          ul.santeh-list__nav-common(data-name='сантехника')
            li Все товары
            li Унитазы
            li Раковины
            li Писсуары
            li Биде
            li Комплектующие
            li Пьедесталы
          ul.santeh-list__nav-common(data-name='мебель')
            li Все товары
            li Мебель
            li Мебель
            li Мебель
            li Мебель
            li Мебель
            li Мебель
          ul.santeh-list__nav-common(data-name='смесители')
            li Все товары
            li Смесители
            li Смесители
            li Смесители
            li Смесители
            li Смесители
            li Смесители
          ul.santeh-list__nav-common(data-name='инсталяции')
            li Все товары
            li Инсталяции
            li Инсталяции
            li Инсталяции
            li Инсталяции
            li Инсталяции
            li Инсталяции
          ul.santeh-list__nav-common(data-name='ванны')
            li Все товары
            li Ванны
            li Ванны
            li Ванны
            li Ванны
            li Ванны
            li Ванны
          ul.santeh-list__nav-common(data-name='душевые')
            li Все товары
            li Душевые
            li Душевые
            li Душевые
            li Душевые
            li Душевые
            li Душевые
          ul.santeh-list__nav-common(data-name='аксессуары')
            li Все товары
            li Аксессуары
            li Аксессуары
            li Аксессуары
            li Аксессуары
            li Аксессуары
            li Аксессуары
      .santeh-list__prewiev
        .santeh-list__prewiev-pict(data-name='сантехника')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='мебель')
          img(src="img/photo1.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='смесители')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='инсталяции')
          img(src="img/photo-main-san.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='ванны')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='душевые')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='аксессуары')
          img(src="img/photo1.jpg" alt="").santeh-list__prewiev-img
