.santeh-list 
  .wrapper
    .santeh-list__shell
      .santeh-list__nav 
        ul.santeh-list__nav-santeh
          li(data-name='унитазы').santeh-list__nav-santeh-link.styled
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Сантехника для ванной 
          li(data-name='раковины').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Мебель для ванной
          li(data-name='писсуары').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Смесители
          li(data-name='биде').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Инсталляции 
          li(data-name='комплектующие').santeh-list__nav-santeh-link
              svg(width='15' height='11').santeh-list__svg
                use(xlink:href="img/sprite.svg#icon-hover-arr")
              | Ванны
          li(data-name='пьедесталы').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Душевые системы
          li(data-name='пьедесталы').santeh-list__nav-santeh-link
            svg(width='15' height='11').santeh-list__svg
              use(xlink:href="img/sprite.svg#icon-hover-arr")
            | Аксессуары
        .prewiev-categor
          ul.santeh-list__nav-common(data-name='унитазы')
            li Все товары
            li Унитазы
            li Раковины
            li Писсуары
            li Биде
            li Комплектующие
            li Пьедесталы
          ul.santeh-list__nav-common(data-name='раковины')
            li Все товары
            li Комплектующие
            li Раковины
            li Пьедесталы
            li Раковины
            li Комплектующие
            li Пьедесталы
          ul.santeh-list__nav-common(data-name='писсуары')
            li Все товары
            li Унитазы
            li Унитазы
            li Унитазы
            li Унитазы
            li Унитазы
            li Унитазы
          ul.santeh-list__nav-common(data-name='биде')
            li Все товары
            li Раковины
            li Раковины
            li Раковины
            li Раковины
            li Раковины
            li Раковины
          ul.santeh-list__nav-common(data-name='комплектующие')
            li Все товары
            li Унитазы
            li Раковины
            li Писсуары
            li Биде
            li Комплектующие
            li Пьедесталы
          ul.santeh-list__nav-common(data-name='пьедесталы')
            li Все товары
            li Унитазы
            li Раковины
            li Писсуары
            li Биде
            li Комплектующие
            li Пьедесталы
          ul.santeh-list__nav-common(data-name='пьедесталы')
            li Все товары
            li Унитазы
            li Раковины
            li Писсуары
            li Биде
            li Комплектующие
            li Пьедесталы
      .santeh-list__prewiev
        .santeh-list__prewiev-pict(data-name='унитазы')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='раковины')
          img(src="img/photo1.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='писсуары')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='биде')
          img(src="img/photo-main-san.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='комплектующие')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
        .santeh-list__prewiev-pict(data-name='пьедесталы')
          img(src="img/tualet.jpg" alt="").santeh-list__prewiev-img
